<font face="Rockwell Bold"><strong><h1 align=center>Create your GT picture</h1></strong></font>

<br/>

<%=image_tag("Back.jpg") %>

<br/>
<br/>

<font face="Rockwell Bold"><strong>Click to upload file</strong></font>

<br/>
<br/>

<%= render 'form' %>


