<p id="notice"><%= notice %></p>

<font face="Rockwell Bold"><strong><h1 align=center>Create your GT picture</h1></strong></font>

<br/>

<br/>
<font face="Rockwell" align=center><strong>Download Instructions</strong></font>
<ol>
	<li>Right click on the image</li>
	<li>Choose "Save Image As"</li>
	<li>Make sure you save as an image filetype</li>
</ol>

<br/>
<br/>

<%= image_tag(@images.image_url.to_s, :align =>"middle") %>

<br/>
<br/>

<%= link_to 'New Image',root_path %> 

